import pandas

In [1]:
import pandas as pd

In [2]:
import requests
from bs4 import BeautifulSoup

In [4]:
my_url = "https://www.census.gov/foreign-trade/balance/c5830.html"
raw_html = requests.get(my_url)
print(raw_html.text)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>International Trade</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noodp, noydir" />
        <meta name="author" content="US Census Bureau"  />
        <!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"  /><![endif]-->
        <!--[if gte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <link rel="stylesheet" href="econ_assets/page/local/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="econ_assets/page/local/jquery.css" type="text/css"/>
        <link rel="stylesheet" href="econ_assets/page/local/clientlibs.css" type="text/css"/>
        <link rel="stylesheet" href="econ_assets/page/local/clientlibs2.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="econ_assets/economic_indicators/css/icon_buttons.css" media="screen" />
        <link rel="icon" sizes="192x192" href="econ_assets/page/local/android-chrome-192x192.png" />
        <link rel="icon" sizes="256x256" href="econ_assets/page/local/android-chrome-256x256.png" />
        <link rel="shortcut icon" sizes="32x32" href="econ_assets/page/local/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="econ_assets/page/local/apple-touch-icon-180x180.png" />
        <meta name="msapplication-square150x150logo" content="econ_assets/page/local/mstile-150x150.png" />
        <link href="econ_assets/page/local/print.css" rel="stylesheet" type="text/css" media="print"/>
        <meta name="DC.title" property="og:title" content="International Trade" />
        <meta name="DC.creator" content="US Census Bureau" />
        <meta name="DC.date.created" property="article:published_time" scheme="ISO8601" content="" />
        <meta name="DC.date.reviewed" property="article:modified_time" scheme="ISO8601" content="2019-04-15T15:38:26.310-04:00" />
        <meta name="DC.language" scheme="DCTERMS.RFC1766" content="EN-US" />
        <meta name="DC.title" property="og:title" content="International Trade" />
        <meta http-equiv="description" property="og:description" content="" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="https://www.census.gov/foreign-trade/balance/c5830.html" />
        <meta property="og:image" content="" />
        <!-- context hub -->
        <!-- DTM-->
        <script type="text/javascript">
            var digitalData = digitalData || {};
            digitalData = {
                "page": {
                    "pageInfo": {
                        "pageName": "International Trade",
                        "legacyPageName": "en>programsRSUY>International Trade",
                        "pageURL": window.location.href,
                        "language": "en",
                        "pageTemplate": "LPL",
                        "tool": "aem",
                        "siteSection": "programs-surveys",
                        "subSectionOne": "FTD"
                    },
                    "pageTag": {
                        "program": "Program Survey Landing Page",
                        "topic": "Econ"
                    }
                },
                "event": {
                    "eventName": {},
                    "eventInfo": {
                        "share": {},
                        "download": {},
                        "search": {},
                        "expandCollapseList": {},
                        "language": {},
                        "landingPageTab": {},
                        "faceted": {}
                    }
                }
            };

            if (typeof (Storage) !== "undefined") {
                if (localStorage.getItem("pageLanguage") != null) {
                    digitalData.event.eventInfo.language.pageLanguage = localStorage.getItem("pageLanguage");
                }
                if (localStorage.getItem("langEventName") != null) {
                    digitalData.event.eventName = localStorage.getItem("langEventName");
                }
                if (localStorage.getItem("clickValue") != null) {
                    digitalData.event.eventInfo.search.clickValue = localStorage.getItem("clickValue");
                }
                if (localStorage.getItem("searchEventName") != null) {
                    digitalData.event.eventName = localStorage.getItem("searchEventName");
                }
                /*if ( localStorage.getItem("landingPageTabClickValue") != null ) {
                 digitalData.event.eventInfo.landingPageTab.clickValue = localStorage.getItem("landingPageTabClickValue");
                 }*/
                if (localStorage.getItem("tabEventName") != null) {
                    digitalData.event.eventName = localStorage.getItem("tabEventName");
                }
                if (localStorage.getItem("pageName") != null) {
                    digitalData.page.pageInfo.pageName = localStorage.getItem("pageName");
                }
                //After assigning the value to digitalData, clear the localStorage variable's content
                localStorage.removeItem("pageLanguage");
                localStorage.removeItem("langEventName");
                localStorage.removeItem("clickValue");
                localStorage.removeItem("searchEventName");
                localStorage.removeItem("landingPageTabClickValue");
                localStorage.removeItem("tabEventName");
                localStorage.removeItem("pageName");
            } else {
                if (getCookie("pageLanguage") != "") {
                    digitalData.event.eventInfo.language.pageLanguage = getCookie("pageLanguage");
                }
                if (getCookie("langEventName") != "") {
                    digitalData.event.eventName = getCookie("langEventName");
                }
                if (getCookie("clickValue") != "") {
                    digitalData.event.eventInfo.search.clickValue = getCookie("clickValue");
                }
                if (getCookie("searchEventName") != "") {
                    digitalData.event.eventName = getCookie("searchEventName");
                }
                if (getCookie("landingPageTabClickValue") != "") {
                    digitalData.event.eventInfo.landingPageTab.clickValue = getCookie("landingPageTabClickValue");
                }
                if (getCookie("tabEventName") != "") {
                    digitalData.event.eventName = getCookie("tabEventName");
                }
                if (getCookie("pageName") != "") {
                    digitalData.page.pageInfo.pageName = getCookie("pageName");
                }
                //After assigning the value to digitalData, clear the localStorage variable's content
                setCookie("pageLanguage", "");
                setCookie("langEventName", "");
                setCookie("clickValue", "");
                setCookie("searchEventName", "");
                setCookie("landingPageTabClickValue", "");
                setCookie("pageName", "");
            }

            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        </script>
        <script type="text/javascript" src="econ_assets/page/local/jsapi.js"></script>
        <link rel="stylesheet" href="econ_assets/page/local/censusfonts.css" type="text/css"/>
        <link rel="stylesheet" href="econ_assets/page/local/orionicons.css" type="text/css"/>
    </head>
    <body id="innerPage" class="   ">
        <div>
            <div class="clientcontext parbase">
                <script type="text/javascript" src="econ_assets/page/local/jquery.js"></script>
                <script type="text/javascript" src="econ_assets/page/local/jquery-ui.js"></script>
                <script type="text/javascript" src="econ_assets/page/local/utils.js"></script>
                <script type="text/javascript" src="econ_assets/page/local/granite.js"></script>
                <script type="text/javascript" src="econ_assets/page/local/jquery2.js"></script>
                <script type="text/javascript" src="econ_assets/page/local/shared.js"></script>
                <script type="text/javascript" src="econ_assets/page/local/kernel.js"></script>
            </div>
        </div>
        <a name="skipfooter" class="skip"></a>
        <div class="uscb-main-container">
            <div class="censusheader universalheader">
                <header id="data-uscb-main-header" class="uscb-header uscb-print-hide">
                    <!-- GOV BANNER AND SIMPLE HEADER LAST UPDATED 11/17/2021 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://www.census.gov/main/uswds/uswds-2.12.0/js/uswds-init.min.js"></script>
    <script async src="https://assets.adobedtm.com/7d6e749d4118/1f2b049df95b/launch-ENdc1ca6bab15e46a5b880a2c3f9d462ab.min.js"></script>
   <!-- <link rel="stylesheet" href="https://www.census.gov/main/uswds/uswds-2.12.0/css/uswds.min.css" /> -->
  <!--  <link rel="stylesheet" href="https://www.census.gov/main/.in/css/all_header_styles.css" /> -->
  <link rel="stylesheet" href="https://www.census.gov/main/css/all_header_styles.css" />


  </head>
  <body>
    <script src="https://www.census.gov/main/uswds/uswds-2.12.0/js/uswds.min.js"></script>
    <section class="usa-banner" aria-label="Official government website">
        <div class="usa-accordion">
          <header class="usa-banner__header">
            <div class="usa-banner__inner">
              <div class="grid-col-auto">
                <img
                  class="usa-banner__header-flag"
                  src="https://www.census.gov/main/uswds/uswds-2.12.0/img/us_flag_small.png"
                  alt="U.S. flag"
                />
              </div>
              <div class="grid-col-fill tablet:grid-col-auto">
                <p class="usa-banner__header-text">
                    An official website of the United States government
                </p>
                </div>
              </div>
            </div>
         <!-- </div>
        </div>-->
      </section>


<style id="antiClickjack">
    body {
        display: none !important
    }
</style>
<script type="text/javascript" src="https://www.census.gov/main/javascript/clickjack.js"></script>
<script src="https://www.census.gov/main/responsive-header/jquery/jquery.js"
    class="cb-main-support global-file"></script>
<script src="https://www.census.gov/main/responsive-header/jquery/jquery-ui.js"
    class="cb-main-support global-file"></script>

<!-- Check for jquery conflict -->
<script type="text/javascript">

// REMOTE SERVERS include adobe-launch in <head>
// 	$.ajax({
// 		type : 'get',
// 		url : '/main/app-config/header/adobe-launch.txt',
// 		dataType: 'text',
// 		success : function(data){
// 	                var adobeLaunchScript = document.createElement("script");
// 	                adobeLaunchScript.setAttribute("src",data);
// 	                document.head.appendChild(adobeLaunchScript);
// 	            },
// 	    error : function(xhr, errorText, errorMessage){
// 	                console.log('adobe-launch URL recognition failed: ' + errorText);
// 	            }
// 	});

    $acn = jQuery.noConflict();
    if (typeof jQuery === 'undefined' || typeof $ === 'undefined') {
        jQuery = $acn;
        $ = $acn;
    }
    $(function () {
        $('.cb-header-skip-nav').click(function () {
            $('#cb-after-header-anchor').focus();
        });
    });
</script>

<script src="https://www.census.gov/main/responsive-header/bootstrap-custom/js/bootstrap.js"
    class="cb-main-support global-file"></script>
<script src="https://www.census.gov/main/responsive-header/js/typeahead.js"
    class="cb-main-support global-file"></script>


<style type="text/css">
    header.hdr-primary,
    header.hdr-primary>nav {
        display: flex !important;
        align-items: center !important;
        margin: 0 !important;
        padding: 0 !important;
        height: 64px !important;
        background-color: #ffffff !important;
       /* border-color: #112e51 !important;*/
    }

    header.hdr-primary>nav>div {
        box-sizing: border-box !important;
        height: 36.62px !important;
        font-size: 20px !important;
        font-weight: 500 !important;
        letter-spacing: 0.02em !important;
        line-height: 30px !important;
        white-space: nowrap !important;
        vertical-align: baseline !important;
        padding: 0 0 0 16px !important;
        margin: 0 !important;
        min-width: 150px !important;
    }

    header.hdr-primary>nav>div>a,
    header.hdr-primary>nav>div>a>img {
        padding: 0 !important;
        margin: 0 !important;
        border-style: none !important;
        background: transparent !important;
        text-decoration: none !important;
    }

    header.hdr-primary>nav>div>a {
        box-sizing: border-box !important;
        cursor: pointer !important;
        text-decoration: none !important;
    }

    header.hdr-primary>nav>div>a>img {
        width: 86px !important;
        height: 33.62px !important;
        margin-left: 15px !important;
    }
    hr.blue-line {
   /* border-top-width: 2px;*/
   /* border-color: #d0dce1;*/
    margin: 0px;
    border-bottom: #d0dce1 1px solid;

    }

    body {
        opacity: 1 !important;
    }
    .uscb-header {
        background-color: #ffffff;
    }
    .uscb-footer {
        height: 0px;
    }

</style>
<button class="cb-header-skip-nav sr-only sr-only-focusable">Skip to main content</button>
<header class="hdr-primary">
    <nav>
        <!--  <div><a href="https://www.census.gov" id="census-home-link"><img src="https://data.census.gov/cedsci/img/census-logo-white.25c8cb29.svg" alt="United States Census Bureau" title="U.S. Census Bureau"></a></div>
          <div><a href="https://www.census.gov" id="census-home-link"><img src="https://www.census.gov/main/.in/USCENSUS_IDENTITY_SOLO_White_2in_TM.svg" alt="United States Census Bureau" title="U.S. Census Bureau"></a></div>
    -->
        <div><a href="https://www.census.gov" id="census-home-link"><img
                    src="https://www.census.gov/main/img/USCENSUS_IDENTITY_SOLO_BLACK_1.5in_R_no_padding.svg"
                    alt="United States Census Bureau" title="U.S. Census Bureau"></a></div>
    </nav>
</header>
<hr class="blue-line">
<a class="sr-only" tabindex="-1" id="cb-after-header-anchor">end of header</a>
</body>

</html>

                </header>
                <script type="text/javascript">
                    document.addEventListener("DOMContentLoaded", function (event) {
                        CensusUniversalHeader.initHeader();
                    });
                </script>
            </div>
        </div>
        <div class="container-fluid">
            <div class="topBg">
            </div>
            <div class="wrapper wrapperMarginTop">
                <a name="skip"> </a>
                <div id="sectionTitleRow" class="belowHeader row no-gutter">
                    <div class="col-xs-12 uscb-margin-T-5">
                        <div class="hidden-xs hidden-sm hidden-md col-lg-2" style="width: calc(200% / 16.3 + 5%)"></div>
                        <div id="breadContainer" class="belowHeader hidden-xs visible-lg uscb-print-hide">

                        </div>
                    </div>
                    <div id="infoBannerSection" class="col-xs-12 uscb-padding-LR-0">
                        <script type="text/javascript">
                            function getBanners() {
                                var urlVal = "https://www.census.gov/content/census/en/programs-surveys/.infobanners.html";
                                $.ajax({
                                    url: urlVal,
                                    dataType: "html",
                                    success: function (result) {
                                        $('infoBannerSection').html(result);
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    }
                                });
                                return false;
                            }
                            $(document).ready(function () {
                                getBanners();
                                $('.info-banner-clickable-div').click(function (e) {
                                    var href = $(this).attr('id');
                                    if (typeof (href) !== 'undefined' && !$(e.target).hasClass('data-uscb-exit-btn') && !$(e.target).hasClass('data-uscb-banner-dismiss-btn')) {
                                        window.location = href;
                                    }
                                    return false;
                                });
                                $('.uscb-banner-pointer-div').hover(
                                        function (e) {
                                            $hoverTargets = $(this).find(".data-uscb-banner-hover-target");
                                            $hoverTargets.addClass("uscb-text-decoration-underline");
                                            $hoverTargets.removeClass("uscb-text-decoration-none");
                                        },
                                        function (e) {
                                            $hoverTargets = $(this).find(".data-uscb-banner-hover-target");
                                            $hoverTargets.removeClass("uscb-text-decoration-underline");
                                            $hoverTargets.addClass("uscb-text-decoration-none");
                                        }
                                );
                                $('.data-uscb-banner-dismiss-btn').click(function (e) {
                                    if ($(e.target).hasClass('data-uscb-banner-dismiss-btn')) {
                                        var dismissedBannerClass = $(this).attr('id');
                                        var randStr = $(this).attr('id');
                                        var existingCookieValue = getCookie('dismissedBannersClasses');
                                        var newValue = (typeof (existingCookieValue) != 'undefined' && existingCookieValue != '') ? existingCookieValue + '|' + dismissedBannerClass : dismissedBannerClass;

                                        setCookie('dismissedBannersClasses', newValue, 7);
                                        $('.info-banner-section_' + randStr).remove();
                                    }
                                });
                            });
                        </script>
                    </div>

In [22]:
tables = pd.read_html(my_url)
df = tables[0]
df

            Month  Exports  Imports  Balance
0    January 2024   3148.2   8163.5  -5015.3
1   February 2024   3008.0   6781.4  -3773.5
2      March 2024   3370.5   7938.6  -4568.1
3      April 2024   4001.9   9104.3  -5102.4
4        May 2024   3432.9   8979.9  -5547.0
5       June 2024   3922.9   9865.6  -5942.7
6       July 2024   3917.6  12995.7  -9078.1
7     August 2024   3723.1  11778.5  -8055.4
8  September 2024   3132.7  10584.6  -7451.9
9      TOTAL 2024  31657.7  86192.0 -54534.3

In [23]:
df = tables[0][tables[0]['Month'] != 'TOTAL 2024']

In [24]:
df

            Month  Exports  Imports  Balance
0    January 2024   3148.2   8163.5  -5015.3
1   February 2024   3008.0   6781.4  -3773.5
2      March 2024   3370.5   7938.6  -4568.1
3      April 2024   4001.9   9104.3  -5102.4
4        May 2024   3432.9   8979.9  -5547.0
5       June 2024   3922.9   9865.6  -5942.7
6       July 2024   3917.6  12995.7  -9078.1
7     August 2024   3723.1  11778.5  -8055.4
8  September 2024   3132.7  10584.6  -7451.9

In [25]:
df.to_csv("us-taiwan-trade.csv", index=False)